<h2>Search results for "<%= @query %>"</h2>
<table id="Products">
	<tr>
		<th>Product</th>
		<th># in stock</th>
		<th>Purchase</th>
	</tr>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.title %></td>
			<td class="center"><%= product.quantity %></td>
			<td class="center">
				<form action="http://outdoor-apparel.myshopify.com/cart/add" method="post">
					<input type="hidden" name="id" value="<%= product.variant_id %>"/>
					<input type="submit" value="Buy"/>
				</form>
			</td>
		</tr>
	<% end %>
</table>