<div class="form-outer">
	<h2>Log in to view your wishlist</h2>
	<form action="<%= store_url %>account/login?return_to=http://localhost:3000" id="ShopifyLogin" method="post">
		<div class="form-field">
			<label>Email address</label>
			<input name="customer[email]" type="text" value=""/>
		</div>
		<div class="form-field">
			<label>Password</label>
			<input name="customer[password]" type="password" value=""/>
		</div>
		<input type="hidden" name="checkout_url" value="http://localhost:3000">
		<input type="submit" class="btn" value="Submit"/>
	</form>
</div>