<div id="AddedMsg">
	<p>You just added <b><%= @added_product.title %></b> to your wishlist! </p>

	<p><a href="/wishlist/<%= @customer_id %>">View your Wishlist</a> &nbsp; or &nbsp; <a href="<%= store_url %>collections/all">Continue Shopping</a></p>
</div>